/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #333;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1em;
    line-height: 1.6;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

img {
    vertical-align: middle;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

figure{
    margin-bottom: 0.75rem;
    text-align: center;
}

article{
    max-width: 800px;
    margin: 8rem auto 2rem;
}

h1{
    margin: 0;
    padding: 0;
    font-weight: normal;
    text-align: center;
    font-size: 2.2rem;
}

h2{
    margin: 0 0 0.9rem;
    font-size: 1.8em;
}

.en-notation{
    margin: 0 0 2rem;
    font-size: 1rem;
    text-align: center;
}

.description{
    margin-bottom: 2rem;
    p {
        margin-bottom: 1rem;
    }
}

ul{
margin: 0 0 2.85rem;
    li{
        margin-bottom: 1rem;
        line-height: 1.05;
        font-size: 1rem;
    }
}

.work{
    margin-bottom: 2.5rem;
    dl{
        margin: 0 0 1.75rem;
        dt{
            margin-bottom: 0.3rem;
            font-size: 1.15rem;
            font-weight: bold;
        }
        dd{
            font-size: 1rem;
        }
        .period{
            margin: 0;
            color: #666;
        }
        .role{
            margin: 0;
        }
    }
}

.skills{
    h2{
        margin-bottom: 1.3rem;
    }
    ul{
        margin-bottom: 2.8rem;
    }
}

footer {
    margin-top: 4rem;
    text-align: center;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 800px) {
    /* Style adjustments for viewports that meet the condition */
    section{
        margin-top: 6rem;
        padding: 0 2rem;
    }
    ul{
        margin-bottom: 4rem;
    }
    li{
        margin-bottom: 0.5rem;
    }

}


